.estimationMain {
    
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 5vh 0;
}

table {
    border: 0.2em solid black;
    height: 40vh;
}

td, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.price {
    
    width: 1%;
}

.lastPlace {
    margin-right: 0;
}
